
.row {
    margin-top: 20px;
    padding: 20px;
  }
  
  .col-md-6 {
    text-align: left;
    color:black;
    border: 1px solid #e2ffff;
    background-color: #fddeff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}


h1 {
    color: #6640b7;
    text-align: left;
    font-family: "Tilt Prism";
    font-size: 1.5cm;
}
h2 {
    color: #6640b7;
    text-align: left;
    font-family: "Open Sans";
}
h6 {
    color: #fffff1;
    text-align: right;
    font-family: "Open Sans";
}

.intro {
    color: #fffff1;
    text-align: left;
    font-family: "Open Sans";
}

.horizontal-line {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, #ffffe0, #f3c3ed);
  margin: 0 auto; /* Centrer la ligne horizontalement */
}

textarea {
    width: 100%;
    resize: vertical;
}


body {
    background-color: #f0f8ff; /* Blue pastel */
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #e6e6fa; /* Violet pastel */
    padding: 10px;
  }
  
  /* Navigation styles */
  .navbar {
    background-color: #ffffe0; /* Yellow pastel */
  }
  
  /* Jumbotron styles */
  .jumbotron {
    background-color: #a1b7ff; /* Violet pastel */
    padding: 20px;
    margin-bottom: 0;
    color: #333;
  }
  
  /* Button styles */
  .btn {
    background-color: #eafeff; /* Yellow pastel */
    border-color: #edfeff; /* Yellow pastel */
    color: #333;
  }
  
  /* Input styles */
  .form-control {
    background-color: #f0f8ff; /* Blue pastel */
    border-color: #f0f8ff; /* Blue pastel */
    color: #333;
  }

  .btn-choose{
    text-align: left;
  }

.langs{
  color: #9e91ff;
}
  /* .text-zone{
    text-align: right;
  } */