<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/feather.svg">
    <title>Welcome to the Translator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>

      
    <div class="container">
        <div class="jumbotron text-white text-center">
            <h1>* Transletter</h1>
            <h6>The slowest translator, now with AI</h6>
            <div class="horizontal-line"></div>
            <br>

            <form action="/set_language" method="post">
                <button type="submit" name="language" value="fr"><img src="static\\fr.svg" alt="French Flag"> Français</button>
                <button type="submit" name="language" value="en"  checked="checked"><img src="path_to_english_flag.png" alt="English Flag"> English</button>
                <button type="submit" name="language" value="de"><img src="path_to_german_flag.png" alt="German Flag"> Deutsch</button>
            </form>

            <h2>'Translate your files from the selected language to the desired one'<br></h2>
            <div class="intro">
                You don't know from which language to translate ? Choose "Identify for me" but the process will be slower.<br>
            </div>           
            <br>
            <br>

            <form method="POST" enctype="multipart/form-data">
                <!-- Card to get text -->
                <div class="container mt-5">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="optionsTabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#textTab">Text</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#pdfTab">PDF</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#imgTab">Image</a>
                                </li>
                            </ul>
                        </div>
                            
                        <div class="card-body">
                            <div class="tab-content">
                                <!-- Text section -->
                                <div class="tab-pane fade show active" id="textTab">
                                        <div class="form-group" style="text-align: left;">
                                            <label for="input_text">Enter your text<br>
                                                Please remove any sensible informations about you : name, adress, phone number, id ...</label>
                                            <textarea class="form-control" id="input_text" name="input_text">{%if input_text%}{{input_text}}{%endif%}{% if txt_from_pdf %}{{txt_from_pdf}}{% endif %}{% if txt_from_img %}{{txt_from_img}}{% endif %}</textarea>
                                        </div>
                                        <br>
                                                                    <!-- Language section -->
                                        <div class="btn-choose">
                                            <label for="language_from">Translate from</label>
                                            <br>
                                            <div class="btn-group" role="group" aria-label="Choose the language to translate from">
                        
                                                <input type="radio" id="idk" name="language_from" value="idk" class="btn-check" checked="checked">
                                                <label class="btn btn-outline-primary" for="idk"> Identify for me </label>

                                                <input type="radio" id="en" name="language_from" value="en" class="btn-check">
                                                <label class="btn btn-outline-primary" for="en"> English </label>

                                                <input type="radio" id="nl_from" name="language_from" value="nl" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="nl_from"> Dutch </label>

                                                <input type="radio" id="fr" name="language_from" value="fr" class="btn-check">
                                                <label class="btn btn-outline-primary" for="fr"> French </label>
                                                
                                                <input type="radio" id="de_from" name="language_from" value="de" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="de_from"> German </label>
                                                
                                                <input type="radio" id="es_from" name="language_from" value="es" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="es_from"> Spanish </label>
                                                
                                                <input type="radio" id="pl_from" name="language_from" value="pl" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="pl_from"> Polish </label>
                                                
                                                <input type="radio" id="ar_from" name="language_from" value="ar" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="ar_from"> Arabic </label>
                                                
                                                <input type="radio" id="ru_from" name="language_from" value="ru" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="ru_from"> Russian </label>
                                            </div>
                                            <br><br>
                                            
                                            <label for="language_to">To</label>
                                            <br>
                                            <div class="btn-group" role="group" aria-label="Language To">
                                                
                                                <input type="radio" id="en_to" name="language_to" value="en" class="btn-check"  checked="checked">
                                                <label class="btn btn-outline-primary" for="en_to"> English </label>
                                                
                                                <input type="radio" id="nl_to" name="language_to" value="nl" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="nl_to"> Dutch </label>

                                                <input type="radio" id="fr_to" name="language_to" value="fr" class="btn-check">
                                                <label class="btn btn-outline-primary" for="fr_to"> French </label>
                                                
                                                <input type="radio" id="de_to" name="language_to" value="de" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="de_to"> German </label>
                                                
                                                <input type="radio" id="es_to" name="language_to" value="es" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="es_to"> Spanish </label>
                                                
                                                <input type="radio" id="pl_to" name="language_to" value="pl" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="pl_to"> Polish </label>
                                                   
                                                <input type="radio" id="ar_from" name="language_from" value="ar" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="ar_from"> Arabic </label>
                                                
                                                <input type="radio" id="ru_from" name="language_from" value="ru" class="btn-check" >
                                                <label class="btn btn-outline-primary" for="ru_from"> Russian </label>
                                            </div>
                                            <br>
                                        </div>
                                </div>
                                <!-- PDF section -->
                                <div class="tab-pane fade" id="pdfTab">
                                        <div class="form-group">
                                            <label for="input_pdf">Upload a pdf</label><br>
                                            <input type="file" class="form-control-file" id="input_pdf" name="input_pdf">
                                        </div>
                                        <!-- TODO : pouvoir checker les fichiers deja présents sans avoir a en soumettre un nouveau -->
                                        <br>
                                    <br>
                                </div>
                                <!-- Image section -->
                                <div class="tab-pane fade" id="imgTab">
                                        <div class="form-group">
                                            <label for="input_img">Upload an image</label><br>
                                            <input type="file" class="form-control-file" id="input_img" name="input_img">
                                        </div>
                                        <!-- TODO : pouvoir se synchroniser avec un cloud pour acceder direct aux photos prises par tel -->
                                        <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if img_uploaded %}
                    <p class="img_uploaded">{{ img_uploaded }}</p>
                    {% endif %}

                    {% if pdf_uploaded %}
                    <p class="pdf_uploaded">{{ pdf_uploaded }}</p>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Submit</button>

                    {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                    {% endif %}
                </div>

            </form>
        </div>

        {% if translation_done %}
            <!-- Result part -->
            <div class="row">
                <!-- Translated text -->
                <div class="col-md-6">
                    <h2>Translated Text</h2>
                    <p>
                        {% if langs %}
                        <div class="langs">
                                <p>{{ langs }}</p>      
                            </span>
                        </div>
                        {% endif %}
                    </p>
                    <p>
                        {% if translation_result %}
                        <div class="translation-result">
                            <span style="white-space: pre-line"> <!-- \n -->
                                <p>{{ translation_result | safe }}</p>      
                            </span>
                        </div>
                        {% endif %}
                    </p>
                </div>

                
                <!-- Download pdf -->
                <div class="col-md-6">
                    <h2>Download</h2>
                    <p> {% if translation_result %}
                            <div class="translation-result rounded">
                                <div class="translation-result">
                                    <div class="download-buttons">
                                        <a href="{{ url_for('download_pdf') }}" class="btn btn-primary" download="translated_text.pdf">Download as PDF</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    </p>      
                </div>
            </div>
        {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
