<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/feather.svg">
    <title>Welcome to the Translator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>

      
    <div class="container">
        <div class="jumbotron text-white text-center">
            <h1>* Transletter</h1>
            <h6>The slowest translator, now with AI</h6>
            <div class="horizontal-line"></div>
            <br>

            <h2>Translate your files from the selected language to the desired one<br></h2>
            <div class="intro">
                You don't know from which language to translate ? Choose "Identify for me" but the process will be slower.<br>
            </div>           
            <br>
            <br>

            <form method="POST" enctype="multipart/form-data">
                <!-- Card to get text -->
                <div class="container mt-5">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="optionsTabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#textTab">Text</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#pdfTab">PDF</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content">
                                <!-- Text section -->
                                <div class="tab-pane fade show active" id="textTab">
                                        <div class="form-group" style="text-align: left;">
                                            <label for="input_text">Enter your text</label>
                                            <textarea class="form-control" id="input_text" name="input_text"></textarea>
                                        </div>
                                        <br>
                                </div>
                                
                                <!-- PDF section -->
                                <div class="tab-pane fade" id="pdfTab">
                                        <div class="form-group">
                                            <label for="input_pdf">Upload a pdf</label>
                                            <input type="file" class="form-control-file" id="input_pdf" name="input_pdf">
                                        </div>
                                        <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Language section -->
                    <div class="btn-choose">
                        <label for="language_from">Translate from</label>
                        <br>
                        <div class="btn-group" role="group" aria-label="Choose the language to translate from">
                            <input type="radio" id="fr" name="language_from" value="fr" class="btn-check">
                            <label class="btn btn-outline-primary" for="fr"> French </label>
    
                            <input type="radio" id="en" name="language_from" value="en" class="btn-check">
                            <label class="btn btn-outline-primary" for="en"> English </label>
    
                            <input type="radio" id="idk" name="language_from" value="idk" class="btn-check">
                            <label class="btn btn-outline-primary" for="idk"> Identify for me </label>
                        </div>
                        <br><br>
                        
                        <label for="language_to">To</label>
                        <br>
                        <div class="btn-group" role="group" aria-label="Language To">
                            <input type="radio" id="fr_to" name="language_to" value="fr" class="btn-check">
                            <label class="btn btn-outline-primary" for="fr_to"> French </label>
                            
                            <input type="radio" id="en_to" name="language_to" value="en" class="btn-check">
                            <label class="btn btn-outline-primary" for="en_to"> English </label>
                        </div>
                        <br>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                    {% if pdf_uploaded %}
                    <p class="pdf_uploaded">{{ pdf_uploaded }}</p>
                    {% endif %}
                    {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                    {% endif %}
                </div>

            </form>
        </div>

        <!-- Result part -->
        <div class="row">
            <!-- Translated text -->
            <div class="col-md-6">
                <h2>Translated Text</h2>
                <p>
                    {% if langs %}
                    <div class="langs">
                            <p>{{ langs }}</p>      
                        </span>
                    </div>
                    {% endif %}
                </p>
                <p>
                    {% if translation_result %}
                    <div class="translation-result">
                        <span style="white-space: pre-line"> <!-- \n -->
                            <p>{{ translation_result | safe }}</p>      
                        </span>
                    </div>
                    {% endif %}
                </p>
            </div>

            
            <!-- Download pdf -->
            <div class="col-md-6">
                <h2>Download</h2>
                <p> {% if translation_result %}
                        <div class="translation-result rounded">
                            <div class="translation-result">
                                <div class="download-buttons">
                                    <a href="{{ url_for('download_pdf') }}" class="btn btn-primary" download="translated_text.pdf">Download as PDF</a>
                                </div>
                        </div>
                        </div>
                        {% endif %}
                </p>      
             </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
