<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Translator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
    <div class="container">
        <div class="jumbotron text-white text-center">
            <h1>Welcome to the Translator</h1>
            <form method="POST">
                <label for="language_from">From:</label>
                <div class="btn-group" role="group" aria-label="Language From">
                    <input type="radio" id="fr" name="language_from" value="fr" class="btn-check">
                    <label class="btn btn-outline-primary" for="fr"> French </label>

                    <input type="radio" id="en" name="language_from" value="en" class="btn-check">
                    <label class="btn btn-outline-primary" for="en"> English </label>
                </div>
                <br>
                
                <label for="language_to">To:</label>
                <div class="btn-group" role="group" aria-label="Language To">
                    <input type="radio" id="fr_to" name="language_to" value="fr" class="btn-check">
                    <label class="btn btn-outline-primary" for="fr_to"> French </label>
                    
                    <input type="radio" id="en_to" name="language_to" value="en" class="btn-check">
                    <label class="btn btn-outline-primary" for="en_to"> English </label>
                </div>
                <br>


                <label for="input_text">Enter Text:</label>
                <textarea type="text" id="input_text" name="input_text" rows="4"required></textarea>
                <button type="submit">Translate / Detect Language</button>
                <br>

                <label for="task">Select Task:</label>
                <input type="radio" id="translate" name="task" value="translate">
                <label for="translate">Translate</label>
                <input type="radio" id="detect" name="task" value="detect">
                <label for="detect">Detect Language</label>
                <br>
                <!-- <button type="submit">Translate</button> -->
                {% if error_message %}
                <p class="error">{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
        <div class="row">

            <div class="col-md-6">
                <h2>Translated Text:</h2>
                <p>
                    {% if translation_result %}
                    <div class="translation-result">
                        <p>{{ translation_result }}</p>
                    </div>
                    {% endif %}
                </p>
            </div>

            <div class="col-md-6">
                <h2>Download</h2>
                <p> {% if translation_result %}
                    <div class="translation-result">
                        <div class="download-buttons">
                            <a href="{{ url_for('download_pdf') }}" class="btn btn-primary" download="translated_text.pdf">Download as PDF</a>
                        </div>
                    </div>
                    {% endif %}</p>

            </div>
        </div>
    </div>

</body>
</html>
